{{!

    POST - FEATURE HEADER
    - Configuration of this file is not required.

}}

    <div class="featureheader {{post_class}}">

        <div class="background" {{#if feature_image}} style="background-image: url({{img_url feature_image}})" {{/if}}></div>
        <a href="{{@blog.url}}" class="logo"><img src="https://s3.us-east-2.amazonaws.com/toddzilla/General/ZillaAlt.png" alt="{{@blog.title}}"></a>
        <div class="shadow2"></div>
        <div class="wrapper">
            <div class="title">
              <h1>{{{title}}}</h1>
                <div class="info">
                    <div class="left">
                        {{#if author.profile_image}}<img src="{{author.profile_image}}" alt="author" class="minigravatar">{{/if}}
                        <a href="https://twitter.com/ToddRBirchard"> @ToddRBirchard</a>
                    </div>
                    <div class="right">
                        <a href="#" class="date"><i class="far fa-clock"></i>{{date format="MMMM Do, YYYY"}}</a>
                        <span class="tags">
                            <i class="fas fa-tags"></i>
                            {{#foreach tags}}
                                <a href="{{url}}" class="{{name}}">{{name}}</a>
                            {{/foreach}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
