{{!

    POST TEMPLATE
    - Configuration of this file is not required.

}}
{{!< default}}

    {{#post}}

        {{> post_feature_header}}

        <div class="container {{post_class}}">

          <div class="titleintro" {{#if feature_image}} style="position:relative; background-image: url({{img_url feature_image}})" {{/if}}>
            <h1>{{{title}}}</h1>
            <span>{{excerpt}}</span>
          <div style=""></div>
        </div>


                {{! WIDGET - RESPONSIVE BLOG INFO }}
                <div class="widget postinfo_widget inline {{post_class}}">
                    {{#if @blog.logo}}
                        <a href="{{@blog.url}}" class="logo"><img src="{{@blog.logo}}" alt="{{@blog.title}}"></a>
                    {{/if}}
                </div>

                <div class="postlist">
                    {{! POST MAIN }}
                    <article class="post standard single">

                        <div class="customcontainer">
                        {{> sidebar_post}}
                        <div class="content">

                        <div class="postcontents">
                            {{> post_header}}
                            <div class="info">
                                <div class="left">
                                    {{#if author.profile_image}}<img src="{{author.profile_image}}" alt="author" class="minigravatar">{{/if}}
                                    {{author}}
                                </div>
                                <div class="right">
                                    <a href="#" class="date"><i class="far fa-clock"></i>{{date format="MMMM Do, YYYY"}}</a>
                                    <span class="tags">
                                        <i class="fas fa-tags"></i>
                                        {{#foreach tags}}
                                            <a href="{{url}}" class="{{name}}">{{name}}</a>
                                        {{/foreach}}
                                    </span>
                                    <i class="fas fa-eye"></i>
                                    <div class="right reading-time">
                                </div>
                              </div>
                            </div>
                            {{content}}
                        </div>


                    {{> post_footer}}

                    </article>
                </div>
            <div style="clear:both"></div>
            <div class="recentposts">
                   <div class="recent-container">
                     <h4>Recent Posts</h4>
                       {{#get "posts" limit="3" page="1" include="tags" filter="id:-{{id}}" as |recents|}}
                               {{#foreach recents}}
                                   <div class="recent-post">
                                           <div class="recent-image" style="background-image: url({{img_url feature_image}});">

                                             {{#tags limit="1"}}<a class="tag">{{name}}</a>{{/tags}}
                                              <a href="{{url}}"><h5 class="recenttitle">{{title}}</h5></a>
                                           </div>
                                       <h5 class="recent-description-title">{{title}}</h5>
                                       <p class="recentdescription">{{excerpt}}</p>
                                       <div class="recentpost-footer">
                                         <div class="recentposttag">
                                           <i class="fas fa-tags"></i>
                                           {{#tags limit="1"}}<a href="{{url}}">{{name}}</a>{{/tags}}
                                         </div>
                                         <a href="{{url}}" class="largesolid orange">Read <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                                       </div>
                                   </div>
                               {{/foreach}}
                       {{/get}}
                   </div>
               </div>
               {{! WIDGET - AUTHOR INFO }}
               {{> widget_author}}
        </div>
        </div>


        {{! RESPONSIVE NAVIGATION }}
        <div class="inlinemenu">
            <div class="graybar">
                <div class="left"><i class="fa fa-bars"></i>Navigation</div>
                <div class="right"><i class="fa fa-chevron-down"></i></div>
            </div>
            {{navigation}}
        </div>

    {{/post}}
